<div class="toolbar">
    <div class="toolbar-section">
        <button class="toolbar-btn" onclick="newFile()" title="New File (Ctrl+N)">
            <i class="icon-file"></i> New
        </button>
        <button class="toolbar-btn" onclick="openFile()" title="Open File (Ctrl+O)">
            <i class="icon-folder-open"></i> Open
        </button>
        <button class="toolbar-btn" onclick="saveFile()" title="Save File (Ctrl+S)">
            <i class="icon-save"></i> Save
        </button>
        <button class="toolbar-btn" onclick="saveAsFile()" title="Save As (Ctrl+Shift+S)">
            <i class="icon-save-as"></i> Save As
        </button>
    </div>
    
    <div class="toolbar-divider"></div>
    
    <div class="toolbar-section">
        <button class="toolbar-btn" onclick="undo()" title="Undo (Ctrl+Z)">
            <i class="icon-undo"></i> Undo
        </button>
        <button class="toolbar-btn" onclick="redo()" title="Redo (Ctrl+Y)">
            <i class="icon-redo"></i> Redo
        </button>
    </div>
    
    <div class="toolbar-divider"></div>
    
    <div class="toolbar-section">
        <button class="toolbar-btn" onclick="cut()" title="Cut (Ctrl+X)">
            <i class="icon-scissors"></i> Cut
        </button>
        <button class="toolbar-btn" onclick="copy()" title="Copy (Ctrl+C)">
            <i class="icon-copy"></i> Copy
        </button>
        <button class="toolbar-btn" onclick="paste()" title="Paste (Ctrl+V)">
            <i class="icon-paste"></i> Paste
        </button>
    </div>
    
    <div class="toolbar-divider"></div>
    
    <div class="toolbar-section">
        <button class="toolbar-btn" onclick="findReplace()" title="Find & Replace (Ctrl+F)">
            <i class="icon-search"></i> Find
        </button>
        <button class="toolbar-btn" onclick="toggleWordWrap()" title="Toggle Word Wrap">
            <i class="icon-wrap"></i> Wrap
        </button>
    </div>
</div>